<input type="hidden" id="timerStart" value="" />
<div>
    <button class="btn btn-primary" id="timer" value="">00:00:00</button>
</div>
@section Scripts {
    <script src="~/master/js/Encore/EncoreTimer.js"></script>
}